@model Duombaze.Models.ViewModels.MotherboardModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Motherboard</h2>

@using (Html.BeginForm("Create", "Motherboard", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Model)
        @Html.TextBoxFor(model => model.Model, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RAM_Slots)
        @Html.TextBoxFor(model => model.RAM_Slots, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RAM_TypeId, "RAM Type")
        @Html.DropDownListFor(model => model.RAM_TypeId, Model.RAM_TypesList, "Select RAM Type", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SocketId, "Socket Type")
        @Html.DropDownListFor(model => model.SocketId, Model.SocketTypesList, "Select Socket Type", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
