@model Duombaze.Models.Motherboard

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motherboard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM_Slots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM_Slots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Socket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Socket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
